{% extends 'base.html' %}

{% block title %}Bienvenido{% endblock %}

{% block page_content %}


    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 position-relative top-0 start-50 translate-middle-x p-2 mt-2" id="principal" >
        <h1 class="scale-up-center h1 " >¡Bienvenido a nuestra tienda online!</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/img/banner1.jpg" class="d-block w-100 h-25 rounded-3" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/img/banner1.jpg" class="d-block w-100 h-25" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/img/banner1.jpg" class="d-block w-100 h-25" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="row-col-1 mt-5">
            <p class="fs-2 text-center fst-italic">“El término cómics hace rato que se volvió obsoleto, arte secuencial es una descripción más exacta.”</p>
            <p CLASS="fw-bold fs-4 text-end">Will Eisner</p>
        </div>
        <h3 class="h3 mt-4">Lista de productos</h3>
        <div class="row row-cols-5 d-flex flex-wrap mt-4 " id="muestra_libros">

        </div>

    </div>



    <script>
         document.addEventListener('DOMContentLoaded', function() {
        fetch('/libros')
            .then(response => response.json())
            .then(data => {
                renderizarLibros(data)
            })
            .catch(error => console.error('Error:', error));
    });

    function renderizarLibros(libros){
        contenedor = document.getElementById("muestra_libros")
        principal = document.getElementById("principal")
        console.log(libros)
        libros.forEach(lb => {
            const columna = document.createElement("div");
            var elemento = "my-element"+lb[0]
            console.log(elemento)
            columna.classList.add("col", "scale-up-center",elemento.toString());
            elemento = '.'+elemento;
            columna.setAttribute('onmouseover', `animateCSS('${elemento.toString()}','pulse');`);
            let encodedString = encodeURIComponent(lb[1]);
            columna.setAttribute('onclick', `window.location.href='/libros/${encodedString}?id=${lb[0]}'`);
            const card = document.createElement("div");
            card.classList.add("card");
            const img = document.createElement("img");
            img.classList.add("card-img-top");
            img.setAttribute("src", lb[7]);
            const card_body = document.createElement('div');
            card_body.classList.add("card-body");
            const h5 = document.createElement('h5');
            h5.classList.add("card-title", "text-truncate");
            h5.innerHTML = lb[1]

            const p1 = document.createElement('p');
            p1.classList.add("card-text");
            p1.innerHTML = lb[2];


            const small = document.createElement('small');
            small.classList.add("text-muted");
            small.innerHTML = lb[3];
            const p2 = document.createElement('p');
            p2.classList.add("card-text");
            p2.appendChild(small)

            const ul = document.createElement('ul');
            ul.classList.add("list-group", "list-group-flush");

            const li = document.createElement('li');
            li.classList.add("list-group-item");

            const contenedor2 = document.createElement('div');
            contenedor2.classList.add("row");

            const contenedor3 = document.createElement('div');
            contenedor3.classList.add("col-5");
            contenedor3.innerHTML = '$' + lb[6]

            const h5_badge = document.createElement('h5');
            const badge = document.createElement('span');
            badge.classList.add("badge", "text-bg-info","position-absolute","word-break");
            badge.innerHTML = lb[5];
            const div_otro = document.createElement('div');
            div_otro.classList.add('col-7');

            h5_badge.appendChild(badge);
            div_otro.appendChild(h5_badge);
            contenedor2.appendChild(contenedor3);
            if (lb[5] == 'Nuevo') {

            contenedor2.appendChild(div_otro);
            }
            li.appendChild(contenedor2)
            ul.appendChild(li)

            card_body.appendChild(h5)
            card_body.appendChild(p1)
            card_body.appendChild(p2)

            card.appendChild(img)
            card.appendChild(card_body)
            card.appendChild(ul)

            columna.appendChild(card)
            contenedor.appendChild(columna)
    });
    }
    </script>
{% endblock %}
