{% extends 'base.html' %}

{% block title %}Bienvenido{% endblock %}

{% block page_content %}
<head>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>

<link href="../static/css/starrr.css" rel=stylesheet/>
    <script src="../static/js/starrr.js"></script>

    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 position-relative top-0 start-50 translate-middle-x p-2 mt-2" id="principal" >
        <div class="row row-cols-1 d-flex flex-wrap " id="contedor">
            <div class="card mb-3" style="max-width: 1500px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../{{libro.img_ruta}}" class="img-fluid rounded-start  p-3" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h2 class="card-title">{{libro.nombre}}</h2>
                        <h4 class="card-subtitle mb-2 text-muted">{{libro.editorial}}</h4>
                        <p class="card-text">Los Avengers protegen al planeta desde la Ciudad Imposible, su superfortaleza orbital. Pero un cuartel no es necesariamente un hogar, y en territorio nuevo, los Avengers son vulnerables... ¡Así que llegó el momento de llamar a uno de sus más viejos aliados para que venga en su ayuda! ¡LLEGA: EDWIN JARVIS! Además, es hora de formar un nuevo equipo de Avengers. Ataques orquestados buscan alimentar la histeria anti-mutante, pero algunos de los mejores amigos de Steve Rogers son mutantes. Este nuevo equipo deberá resolver el misterio de quién es el nuevo Capitán Krakoa, y detener a los asesinos antes de que enciendan las llamas de una nueva guerra mundial.</p>
                          <p class="card-text"><small class="text-muted"><b>Autor:</b> {{libro.autor}}</small></p>
                          <hr>
                          <p class="fs-1 fw-bold text-success">${{libro.precio}}</p>
                          <div class="row">
                              <div class="input-group col w-25 col-3">
                                  <button class="btn btn-outline-primary disabled" type="button" onclick="menosMas('menos');" id="btn_min" >-</button>
                                  <input type="number" class="form-control text-center"  id="cant_lb" name="cant_lb" value="1" min="1">
                                  <button class="btn btn-outline-primary" type="button" onclick="menosMas('mas');">+</button>

                              </div>
                              <div class="col col-9">
                                    <button class="btn btn-success w-100" onclick="agregarCarrito()">Agregar al carrito</button>
                              </div>
                          </div>
                          <div class="row-cols-1">
                              <div>
                                  <br>
                                  Califica el libro: <span id="Estrellas"></span>
                                  <span id="promedio-calificacion">  Puntuación: {% if promedio is not none %}
                                        {{ promedio }}
                                    {% else %}
                                        No disponible
                                  {% endif %} </span>
                                  </br>
                              </div>

                          </div>

                      </div>
                    </div>
                    {% if calificar == 'Sincal' %}
                        <form class="form-control" method="POST" action="/comentaLibro">
                            <div class="mb-3">
                                <label for="comentario" class="form-label fs-5 fw-bold">Agrega un comentario sobre el comic</label>
                                <textarea class="form-control" id="comentario" name="comentario" rows="3" maxlength="250"></textarea>
                                <button type="submit" class="btn btn-success">Enviar</button>
                                <input type="text" name="id_libro" id="id_libro" class="invisible" value="{{ libro.id_libro }}">
                                <input type="text" name="nombre" id="nombre" class="invisible" value="{{ libro.nombre }}">

                            </div>
                        </form>
                    {% else %}
                      <p class="text-center fw-bold fs-4">Ya has calificado este libro</p>
                  {% endif %}
                  </div>
                </div>

        </div>
        <div class="row-cols-1 mt-3">
            <h5 class="h4 fw-bold">Comentarios</h5>
            {% for comentario in comentarios %}
                <p class="fs-5 fw-bold" style="color: #146c43;">{{ comentario[8]}}</p>
                <div class="row">
                    <div class="col col-1 rounded-3 " style="background-color: #98ffa1;">
                        <svg style="fill: #146c43" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>
                    </div>
                    <div class="col col-11" >
                         <p class="fs-5">{{ comentario[3]}}</p>
                    </div>
                </div>

                <hr>
            {% endfor %}
        </div>
    </div>
<script src="{{ url_for('static', filename='js/starrr.js')}}"></script>
    <script>
    function agregarCarrito(){
        cantidad = document.getElementById("cant_lb").value;
        id_libro = {{ libro.id_libro }}
        console.log(cantidad+" - ",id_libro)
        window.location.href = `/agregarCarrito?id=${id_libro}&cantidad=${cantidad}`
    }

    function menosMas(nombre){
        input = document.getElementById("input_number");
        valor = document.getElementById("input_number").value;
         btn_menos = document.getElementById("btn_min");
        if (valor == ""){
            valor = 0

        }



        if((valor-1) == 1 && nombre=='menos'){
            btn_menos.classList.add("disabled")
        }else if (btn_menos.classList.contains("disabled")){
            btn_menos.classList.remove("disabled")
        }
         input.value = 0
        if (nombre == 'menos'){
            valor = parseInt(valor)-1;
        }else if(nombre == 'mas'){
            valor = parseInt(valor)+1;
        }
        input.value = valor
    }

        $(document).ready(function() {
            $('#Estrellas').starrr({
                change: function(e, valor) {
                    var urlParams = new URLSearchParams(window.location.search);
                    var id_libro = urlParams.get('id');
                    console.log("ID del libro:", id_libro);

                    if (!id_libro) {
                        console.error("No se encontró id_libro en la URL");
                        alert("Error: No se pudo obtener el ID del libro.");
                        return;
                    }
                    $.ajax({
                        url: 'http://127.0.0.1:5000/Guardar_calificacion?id=' + id_libro,
                        type: 'POST',
                        data: { ranking: valor },
                        dataType: 'json',
                        success: function(response) {
                            console.log("Respuesta del servidor:", response);
                            console.log("EL PROMEDIO", response.promedio);
                            if (response.promedio !== undefined && response.promedio !== null) {
                                var promedio = response.promedio.toFixed(1); //para limitar a un decimal y no se vea como el valor de pi >:(
                                $('#promedio-calificacion').html('Puntuación: ' + promedio);
                            } else {
                                $('#promedio-calificacion').text('Promedio de calificación: No disponible');
                            }
                        },
                        error: function(xhr, status, error) {
                            console.log("Error al enviar la calificación:", xhr.responseText);
                            alert('Error al guardar la calificación.');
                        }
                    });
        }
    });
});
    </script>
{% endblock %}
